h1,h2,h3,h4,h5,h6 {
  font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 50px;
  letter-spacing: 5px;
}

h5 {
  letter-spacing: 3px;
}

.yu-kv {
  background-image: url('../pictures/volvo/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding-top: 33vh;
  
}

.yu-kv-title-underline {
  height: 3px;
  width: 20%;
}



@media (max-width: 360px) {
  .yu-kv-title-underline {
    width: 100%;
  }
}

.yu-skills {
  background-color: #F0EDEC;
}

.yu-skill-context {
  text-align: left;
  line-height: 1.5;
}

.yu-skill-card-title {
  font-size: 24px;
}

.yu-skill-card-text {
  font-size: 18px;
}

/* ≥768px */
@media (min-width: 768px) {
  .yu-skill-context {
    text-align: center;
  }

  .yu-skill-card-title {
    font-size: 20px;
  }

  .yu-skill-card-text {
    font-size: 14px;
  }
}

.yu-featured-title {
  color: #C5977D;
  font-size: 20px;
}

.yu-featured-text {
  color: #817B79;
}

.yu-featured2 {
  background-color: #F0EBEB;
}

.yu-experience {
  background-color: #ececec;
}

.yu-contact {
  background-color: #F0EDEC;
}


/* project page css */
.yu-pkv {
  
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('../pictures/volvo/Service Concept_move.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding-top: 33vh;
  
}

.yu-pkv-title-underline {
  height: 3px;
  width: 20%;
}



@media (max-width: 360px) {
  .yu-pkv-title-underline {
    width: 100%;
  }
}

.yu-pkv2 {
  
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('../pictures/harbour/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding-top: 33vh;
  
}

.yu-pkv2-title-underline {
  height: 3px;
  width: 20%;
}



@media (max-width: 360px) {
  .yu-pkv2-title-underline {
    width: 100%;
  }
}